@media (min-width: 319px) and (max-width: 639px)
    .all-page
        //background-image: url("/assets/images/stas1.jpg")
    .landing
        overflow-y: scroll !important
    .landing-content
        display: none !important

    .mobile-content
        display: flex
        flex-direction: column
        overflow-x: hidden


@media (min-width: 1600px) and (max-width: 1680px)
    .title__text
        font-size: 2.8rem
    .name
        font-size: 1.9rem
    .social-sidebar
        i
            margin-right: 6px

@media (min-width: 1536px) and (max-width: 1600px)
    .title__text
        font-size: 2.6rem
    .name
        font-size: 1.8rem
    .social-sidebar
        i
            margin-right: 5px
    .row-rotate
        .navigate-sidebar
            padding-right: 20px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.5em

@media (min-width: 1408px) and (max-width: 1536px)
    .title__text
        font-size: 2.4rem
    .name
        font-size: 1.7rem
    .social-sidebar
        i
            margin-right: 5px
    .row-rotate
        .navigate-sidebar
            padding-right: 20px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.4em
    .line-main
        &:hover
            &:after
                width: 40px !important
    .line-about
        &:hover
            &:after
                width: 55px !important
    .line-services
        &:hover
            &:after
                width: 65px !important
    .line-contacts
        &:hover
            &:after
                width: 65px !important
    .line-price
        &:hover
            &:after
                width: 65px !important
    .main-block
        .price-box
            h1, h2
                font-size: 24px

@media (min-width: 1280px) and (max-width: 1408px)
    .title__text
        font-size: 2.3rem
    .name
        font-size: 1.5rem
    .social-sidebar
        i
            margin-right: 3.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 20px !important
        a
            font-size: 13px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .services
        padding-top: 15%
    .main-block
        .price-box
            h1, h2
                font-size: 24px
    .story-price, .studio-price
        padding-top: 40px !important

@media (min-width: 1200px) and (max-width: 1280px)
    .title__text
        font-size: 2.2rem
    .name
        font-size: 1.5rem
    .social-sidebar
        i
            margin-right: 3.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 13px
    .business-title
        h3
            font-size: 1.3em
        h6
            font-size: 15px
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .services
        padding-top: 15%
    .main-block
        .price-box
            padding-top: 0px !important
    .price-box
        h1, h2
            font-size: 23px
    .story-price, .studio-price
        padding-top: 40px !important

@media (min-width: 1024px) and (max-width: 1200px)
    .title__text
        font-size: 2rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 13px
    .business-title
        h3
            font-size: 1.3em
        h6
            font-size: 14px
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .main-block
        .price-box
            padding-top: 0px !important
    .price-box
        h1, h2
            font-size: 20px
        h6
            font-size: 13px
    .story-price, .studio-price
        padding-top: 40px !important
    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 250px

@media (min-width: 960px) and (max-width: 1024px)
    .title__text
        font-size: 2rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
        h6
            font-size: 12px
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .main-block
        .price-box
            padding-top: 0px !important
            h6
                font-size: 13px

    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 250px
        padding-top: 20px
        padding-bottom: 20px !important
        h3
            font-size: 16px
        h1, h2
            font-size: 20px

    #gallery
        .modal
            height: 90vh !important
            max-height: 90vh !important

@media (min-width: 800px) and (max-width: 960px)
    .title__text
        font-size: 1.6rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 12px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .price-box
        padding-top: 0px !important
        h6
            font-size: 11px
    .services
        padding-top: 13%
    .gallery
        img
            height: 100px !important
    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 200px
        padding-top: 20px
        padding-bottom: 20px !important
        h3
            font-size: 16px
        h1
            font-size: 14px
        h2
            font-size: 14px
            margin-top: 15px !important

    #gallery
        .modal
            height: 90vh !important
            max-height: 90vh !important

@media (min-width: 640px) and (max-width: 800px)
    .title__text
        font-size: 2.5rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .services
        padding-top: 13%
    .gallery
        img
            height: 100px !important
    .price-box
        margin-top: -10% !important
    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 120px
        padding-top: 20px
        padding-bottom: 20px !important
        h3
            font-size: 16px
        h1
            font-size: 35px

    #gallery
        .modal
            height: 90vh !important
            max-height: 90vh !important
