@media (min-width: 320px) and (max-width: 639px)
    .all-page
        //background-image: url("/assets/images/stas1.jpg")
    .landing
        overflow-y: scroll !important
    .landing-content
        display: none !important

    .mobile-content
        display: flex
        flex-direction: column
        overflow-x: hidden


@media (min-width: 1600px) and (max-width: 1680px)
    .title__text
        font-size: 6.5rem
    .name
        font-size: 1.9rem
    .social-sidebar
        i
            margin-right: 6px

@media (min-width: 1536px) and (max-width: 1600px)
    .title__text
        font-size: 6.0rem
    .name
        font-size: 1.8rem
    .social-sidebar
        i
            margin-right: 5px
    .row-rotate
        a
            font-size: 18px
    .business-title
        h3
            font-size: 1.5em

@media (min-width: 1408px) and (max-width: 1536px)
    .title__text
        font-size: 5.8rem
    .name
        font-size: 1.7rem
    .social-sidebar
        i
            margin-right: 5px
    .row-rotate
        .navigate-sidebar
            padding-right: 20px !important
        a
            font-size: 17px
    .business-title
        h3
            font-size: 1.4em
    .line-main
        &:hover
            &:after
                width: 40px !important
    .line-about
        &:hover
            &:after
                width: 55px !important
    .line-services
        &:hover
            &:after
                width: 65px !important
    .line-contacts
        &:hover
            &:after
                width: 65px !important
    .line-price
        &:hover
            &:after
                width: 65px !important

@media (min-width: 1280px) and (max-width: 1408px)
    .title__text
        font-size: 5.0rem
    .name
        font-size: 1.5rem
    .social-sidebar
        i
            margin-right: 3.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 20px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .services
        padding-top: 15%
    .price-box
        margin-top: -10% !important
    .story-price, .studio-price
        padding-top: 40px !important

@media (min-width: 1200px) and (max-width: 1280px)
    .title__text
        font-size: 4.5rem
    .name
        font-size: 1.5rem
    .social-sidebar
        i
            margin-right: 3.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .services
        padding-top: 15%
    .price-box
        margin-top: -10% !important
    .story-price, .studio-price
        padding-top: 40px !important

@media (min-width: 1024px) and (max-width: 1200px)
    .title__text
        font-size: 4.0rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .services
        padding-top: 13%
    .price-box
        margin-top: -20% !important
    .story-price, .studio-price
        padding-top: 40px !important

@media (min-width: 960px) and (max-width: 1024px)
    .title__text
        font-size: 3.0rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .services
        padding-top: 13%
    .price-box
        margin-top: -20% !important
    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 120px
        padding-top: 20px
        padding-bottom: 20px !important
        h3
            font-size: 16px
        h1
            font-size: 35px

    #gallery
        .modal
            height: 90vh !important
            max-height: 90vh !important

@media (min-width: 800px) and (max-width: 960px)
    .title__text
        font-size: 2.5rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .services
        padding-top: 13%
    .gallery
        img
            height: 100px !important
    .price-box
        margin-top: -10% !important
    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 120px
        padding-top: 20px
        padding-bottom: 20px !important
        h3
            font-size: 16px
        h1
            font-size: 35px

    #gallery
        .modal
            height: 90vh !important
            max-height: 90vh !important

@media (min-width: 640px) and (max-width: 800px)
    .title__text
        font-size: 2.5rem
    .name
        font-size: 1.4rem
    .social-sidebar
        padding: 0
        i
            margin-right: 2.5px
    .row-rotate
        .navigate-sidebar
            padding-right: 15px !important
        a
            font-size: 14px
    .business-title
        h3
            font-size: 1.3em
    .line-main
        &:hover
            &:after
                width: 29px !important
    .line-about
        &:hover
            &:after
                width: 42px !important
    .line-services
        &:hover
            &:after
                width: 52px !important
    .line-contacts
        &:hover
            &:after
                width: 55px !important
    .line-price
        &:hover
            &:after
                width: 52px !important
    .main-block
        height: 60vh
    .services
        padding-top: 13%
    .gallery
        img
            height: 100px !important
    .price-box
        margin-top: -10% !important
    .wedding-price,
    .family-price,
    .story-price,
    .studio-price
        height: 120px
        padding-top: 20px
        padding-bottom: 20px !important
        h3
            font-size: 16px
        h1
            font-size: 35px

    #gallery
        .modal
            height: 90vh !important
            max-height: 90vh !important
