html
    height: 100%
body
    color: #fff
    min-height: 100vh
    max-height: 100vh !important

.all-page
    display: flex
    flex-direction: column
    min-height: 100vh
    max-height: 100vh !important
    font-size: 11px
    background-image: url("/assets/images/sysoev_stan.jpg")
    background-size: cover
    //object-fit: fill
    color: #fff

.btn-menu
    color: #fff !important
    border: none
    overflow: hidden !important
    outline: none !important
    box-shadow: none
    &:focus
        outline: none !important
        box-shadow: none !important


.header
    height: 5% !important
    max-height: 5vh !important
    font-size: 11px
    //background-color: #fff !important

.landing
    height: 100%
    min-height: 90vh
    overflow-y: hidden

.menu
    span
        cursor: pointer

.footer
    height: 5% !important
    position: fixed
    bottom: 0
    align-items: center

    .copyright
        font-size: 11px

.bg-black
    background-color: #000 !important
.text-brown
    color: #7e7e7e
.text-grey
    color: #484848
.pt-50
    padding-top: 50%
.pt-75
    padding-top: 75%

.gallery, .price
    background-color: rgba(255,255,255,0.4)
    position: absolute
    z-index: 1000
    padding: 0
    max-height: 75vh
    overflow-y: scroll
    margin-top: 3%

.modal-xl
    max-width: 90% !important

    .modal-body
        padding: 1px !important
    .modal-content
        background-color: rgba(255,255,255,0.2)
